/* HTML */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #dedede;
}

/* Produtos */

.produtos div {
	display: inline-grid;
	margin-left: 80px;
	margin-right: 80px;
}

.produtos {
	margin-top: 25px;
}

/* Slider */

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*CSS da navegção manual*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*CSS da navegação automática*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC;
}

/* Logo */

.logo {
	background-color: #0762a3;
	padding: 50px;
	font-size: 30px;
}

.logo a {
	font-style: none;
	text-decoration: none;
	color: white;
}

/* Menu Dropdown */

.menu {
	width: 100%;
	height: 50px;
	background-color: #01416e; /*#222*/
	font-family: 'Arial';
}

.menu ul {
	list-style: none;
	position: relative;
}

.menu ul li {
	width: 150px;
	float: left;
}

.menu a {
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #01416e; /*#222*/
	color: white;
}

.menu ul ul {
	position: absolute;
	visibility: hidden;
}

.menu ul li:hover ul {
	visibility: visible;
}

.menu a:hover {
	background-color: #F4F4F4;
	color: black;
}

.menu ul ul li {
	float: none;
	border-bottom: 1px solid white;
}

/* Contato */

.fa-whatsapp {
	margin: 10px;
}

.contato {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 80px;
	margin-right: 80px;
	border-radius: 10px;
	padding: 10px;
	background-color: #40D3DC;
}

.contato a {
	text-decoration: none;
	font-style: none;
	color: white;
}

.fa-whatsapp {
	background-color: darkgreen;
	padding: 10px;
	border-radius: 50px;
}

/* Rodapé */

.footer {
	bottom: 0;
	width: 97%;
	background-color: #0762a3;
	float: left;
	padding: 20px;
}